<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="wucho" name="author" />
    <title><%=proName%>-<%=modName%></title>
</head>
<body>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-switch.css" rel="stylesheet">
<link href="/css/ui-lightness/jqueryui.min.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%=proName%><%=modName%></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-target="#modalChangePassword" data-toggle="modal">修改密码</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</div>



<div class="modal fade" id="modalChangePassword" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="changePasswordForm">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="modalPassword1" >新密码：</label>
                        <div class="col-md-5" >
                            <input type="password" id="modalPassword1" name="modalPassword1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="modalPassword2" >再输入一次：</label>
                        <div class="col-md-5" >
                            <input type="password" id="modalPassword2" name="modalPassword2" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-loading-text="两次输入必须一致" id="changePassword">确认修改</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <!-- hidden fields-->
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
