<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<%include header%>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->

<div class="container-fluid">
    <div class="row">

     <%include modules%>

     <div class="col-md-10 col-md-offset-2 main">
         <div class="row">
             <!--这一部分为查询栏-->
             <div class="col-md-12">
                 <form class="form-horizontal" role="form" id="queryForm">
                     <div class="form-group">
                         <label class="control-label col-md-1" for="searchCity">城市：</label>
                         <div class="col-md-2">
                             <select id="searchCity" name="searchCity" class="form-control">
                                 <%cityInfo.forEach(function(city){%>
                                 <option value="<%=city._id%>"><%=city.name%></option>
                                 <%});%>
                             </select>
                         </div>
                         <label class="control-label col-md-1" for="searchName">产品：</label>
                         <div class="col-md-2">
                             <input type="text" id="searchName" class="form-control">
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-md-1" for="searchEffect">有效期：</label>
                         <div class="col-md-2">
                             <input type="text" id="searchEffect" class="form-control date" readonly required>
                         </div>
                         <span class="col-md-1">~~</span>
                         <div class="col-md-2">
                             <input type="text" id="searchExpiry" class="form-control date" readonly required>
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-md-1 col-md-offset-1">
                             <button id="query" class="btn btn-danger form-control">查询</button>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
         <div class="row">
             <!--这一部分是按钮栏-->
             <div class="col-md-12">
             </div>
         </div>

         <div class="row" id="queryResult">
             <!--这一部分是分页栏 以及 表格栏-->

         </div>
</div>

        <div class="modal fade" id="priceModify">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><span id="modalType"></span>房态修改</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" id="modalForm">
                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">原始底价</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="oldCost" readonly>
                                </div>
                                <label for="title" class="col-md-2 control-label">新底价</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="newCost" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">原始卖价</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="oldPrice" readonly>
                                </div>
                                <label for="title" class="col-md-2 control-label">新卖价</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="newPrice" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">原始库存</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="oldInventory" readonly>
                                </div>
                                <label for="title" class="col-md-2 control-label">新库存</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="newInventory" >
                                </div>
                            </div>
                        </form>
                        <input type="hidden" value="" id="priceID">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="doCreate">保存</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

</body>



<%include footer%>

<script src="/js/common/packagePriceQuery.js"></script>



<script>
    $(document).ready(function() {
        priceQueryInit.init('package');
    } );
</script>

</html>