<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<%include header%>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->

<div class="container-fluid">
    <div class="row">
        <% include modules %>
        <div class="col-md-10 col-md-offset-2 main">
        </div>
    </div>
</div>

</body>
<%include footer%>

<script>
    $(document).ready(function() {
    } );
</script>

</html>